[submodule "client"]
	path = client-prototype
	url = https://github.com/ut42tech/llmeta-client.git
[submodule "server"]
	path = server
	url = https://github.com/ut42tech/llmeta-server.git
[submodule "research"]
	path = research
	url = https://github.com/ut42tech/llmeta-research.git